// ==============================================
// Mixins
// ==============================================

// Buttons ======================================
@mixin button-color($bg-color, $color) {
  background-color: $bg-color;
  color: $color;
}

@mixin button-color-ghost($color: #f00) {
  background-color: transparent;
  color: $color;
  border-color: $color;
  &:hover {
    color: #fff;
    background-color: $color;
  }
}

// Clearfix =====================================
@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Heading ======================================
@mixin heading ($fsz, $fwg, $clr) {
	font-size: 24px;
	font-weight: 300;
	color: #363636;
}